<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modales</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css'  %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
</head>
<body>
<div id="page-wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PythonPiura</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
              <a href="{% url 'productos:listado_productos' %}">Productos</a>
          </li>
          <li>
              <a href="{% url 'productos:listado_proveedores' %}">Proveedores</a>
          </li>
          <li>
              <a href="{% url 'productos:listado_compras' %}">Compras</a>
          </li>
        </ul>
        </div>
    </nav>

    <div class="container-fluid">
    {% block cuerpo %}

    {% endblock cuerpo %}
    </div>
</div>
</body>
</html>