{% extends "base.html" %}
{% block cuerpo %}
<h3>Compras</h3>
<div class="row">
	<div class="col-lg-10">
		<a href="{% url 'productos:crear_compra' %}" class="btn btn-primary">
			Crear
		</a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-center">PROVEEDOR</th>
					<th class="text-center">FECHA</th>
					<th class="text-center">ACCIONES</th>
				</tr>
			</thead>
			<tbody>
			{% for compra in compras %}
                <tr>
                    <td>{{ compra.proveedor }}</td>
                    <td>{{ compra.fecha }}</td>
                    <td class="text-center">
                        <a href="#" class="btn">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a onclick="return abrir_modal('{% url 'productos:modificar_compra' compra.pk %}')" class="btn">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>
{% endblock cuerpo %}
