{% extends "base.html" %}
{% block cuerpo %}
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		{% if object %}
		<form role="form" action="{% url 'productos:modificar_compra' object.pk %}" method="post">
		{% else %}
		<form role="form" action="{% url 'productos:crear_compra' %}" method="post">
		{% endif %}
			<div class="modal-header">
                <h3>Modificar Compra</h3>
            </div>
            <div class="modal-body">
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-body">
						{{ form.as_p }}
						{{ detalle_compra_form_set.management_form }}
						{% for detalle_compra_form in detalle_compra_form_set %}
							<div class="row">
								<div class="col-lg-4">
									<label>Producto</label>
									{% if detalle_compra_form.producto.errors %}
										{% for error in detalle_compra_form.producto.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<strong>Error: </strong> {{ error|escape }}
										</div>
										{% endfor %}
									{% endif %}
									{{ detalle_compra_form.producto }}
								</div>
								<div class="col-lg-4">
									<label>Cantidad</label>
									{% if detalle_compra_form.cantidad.errors %}
										{% for error in detalle_compra_form.cantidad.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<strong>Error: </strong> {{ error|escape }}
										</div>
										{% endfor %}
									{% endif %}
									{{ detalle_compra_form.cantidad }}
								</div>
								<div class="col-lg-4">
									<label>Precio</label>
									{% if detalle_compra_form.precio_compra.errors %}
										{% for error in detalle_compra_form.precio_compra.errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<strong>Error: </strong> {{ error|escape }}
										</div>
										{% endfor %}
									{% endif %}
									{{ detalle_compra_form.precio_compra }}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-lg-12 text-right">
					<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
					<button type="button" class="btn btn-default" onclick="return cerrar_modal()">
						Cancelar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock cuerpo %}